%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  %br/
  = f.label :company_id  
  = f.select :company_id, options_from_collection_for_select(Company.all, "id", "name")
  %br/
  = f.label :role
  = f.select :role, options_for_select(["Company Representative", "Validator", "Decision Maker"])
  .actions
    = f.submit "Sign up"