%table#coas

    %thead
        %tr
            %th Name
            %th Description
            -@coas.each do |coa|
                %tr
                    %td= coa.coa_index
                    %td= coa.description
                    %td= link_to "Modify", coa_path(coa)

= link_to 'Add new Course of Action', new_coa_path
%hr{:align => "left", :width => "50%"}/

%h1 Create New Course of Action

= form_tag coas_path do
    = hidden_field_tag :self_id, @self.id
    = label :coa, :coa_index, 'name'
    = text_field :coa, 'coa_index'
    = label :coa, :description, 'description'
    = text_field :coa, 'description'
    = submit_tag "Save Changes"

= link_to 'Back', coas_path
