-# in app/views/movies/show.html.haml
%h2 Scenario #{@coa.coa_index}
  
= form_tag coa_path(@coa.id), :method => :put do
    %ul#details
        %li
            Description:
            = @coa.description
        %li
            Self:
            %table#self
            %tr
                %td= @self.name
                %td= check_box_tag "companies[#{@self.id}]", 1,@self.coas.exists? && @self.coas.find_by(id: @coa.id)!=nil,:id => "companies_#{@self.id}"
                -if @self.coas.exists? && @self.coas.find_by(id: @coa.id)!=nil
                    %td= text_field_tag "weights[#{@self.id}]", @self.coa_weights.find_by(coa_id: @coa.id).weight
        %li
            All Companies:
            %table#companies
                - @companies.each do |company|
                    -if not company.id == @self.id
                        %tr
                            %td= company.name
                            %td= check_box_tag "companies[#{company.id}]", 1,company.coas.exists? && company.coas.find_by(id: @coa.id)!=nil,:id => "companies_#{company.id}"
                            -if company.coas.exists? && company.coas.find_by(id: @coa.id)!=nil
                                %td= text_field_tag "weights[#{company.id}]", company.coa_weights.find_by(coa_id: @coa.id).weight
    = submit_tag "Submit"

                
    



%br
= button_to 'Delete', coa_path(@coa), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to Scenario list', coas_path