%h1 Companies

- @companies.each_with_index do |company, index|
  .accordion{:id => "accordionCompany"}
    .card
      .card-header{:id => "headingOne"}
        .arrange-vertically.right
          Status
        
          - if (@company_scores["#{company.id}"] >= 0.8)
            .label.great
              - if @company_scores["#{company.id}Val"]
                .circle.validated.tooltip
                  .tooltiptext
                    Validated Score: #{@company_scores["#{company.id}"]}
              - else
                .circle.unvalidated.tooltip
                  .tooltiptext
                    Invalidated Score: #{@company_scores["#{company.id}"]}
          - elsif ((@company_scores["#{company.id}"] >= 0.5) && (@company_scores["#{company.id}"] < 0.8))
            .label.ok
              - if @company_scores["#{company.id}Val"]
                .circle.validated.tooltip
                  .tooltiptext
                    Validated Score: #{@company_scores["#{company.id}"]}
              - else
                .circle.unvalidated.tooltip
                  .tooltiptext
                    Invalidated Score: #{@company_scores["#{company.id}"]}
          - else
            .label.bad
              - if @company_scores["#{company.id}Val"]
                .circle.validated.tooltip
                  .tooltiptext
                    Validated Score: #{@company_scores["#{company.id}"]}
              - else
                .circle.unvalidated.tooltip
                  .tooltiptext
                    Invalidated Score: #{@company_scores["#{company.id}"]}
        %h5.mb-0
          .arrange-horizontally
            %button.btn.btn-link.overflow{"type" => "button", "data-toggle" => "collapse", "data-target" => "#collapse#{index}", "aria-hidden" => "true", "aria-controls" => "collapseOne"}
              #{company.name}
            
                      
        //categories collapsable
        .collapse{:id => "collapse#{index}", "aria-labelledby" => "headingOne", "data-parent" => "#accordionCompany"}
          - @categories.order('id ASC').each_with_index do |category, index|
            .accordion{:id => "accordionCategory"}
              .card
                .card-header{:id => "headingOne"}
                  .arrange-vertically.right
                    Status
                      
                    - if (@company_scores["#{company.id}cat#{category.id}"] >= 0.8)
                      .label.great
                        - if @company_scores["#{company.id}catVal#{category.id}"]
                          .circle.validated.tooltip
                            .tooltiptext
                              Validated Score: #{@company_scores["#{company.id}cat#{category.id}"]}
                        - else
                          .circle.unvalidated.tooltip
                            .tooltiptext
                              Invalidated Score: #{@company_scores["#{company.id}cat#{category.id}"]}
                    - elsif ((@company_scores["#{company.id}cat#{category.id}"] >= 0.5) && (@company_scores["#{company.id}cat#{category.id}"] < 0.8))
                      .label.ok
                        - if @company_scores["#{company.id}catVal#{category.id}"]
                          .circle.validated.tooltip
                            .tooltiptext
                              Validated Score: #{@company_scores["#{company.id}cat#{category.id}"]}
                        - else
                          .circle.unvalidated.tooltip
                            .tooltiptext
                              Invalidated Score: #{@company_scores["#{company.id}cat#{category.id}"]}
                    - else
                      .label.bad
                        - if @company_scores["#{company.id}catVal#{category.id}"]
                          .circle.validated.tooltip
                            .tooltiptext
                              Validated Score: #{@company_scores["#{company.id}cat#{category.id}"]}
                        - else
                          .circle.unvalidated.tooltip
                            .tooltiptext
                              Invalidated Score: #{@company_scores["#{company.id}cat#{category.id}"]}
                  %h5.mb-0
                    .arrange-horizontally
                      %button.btn.btn-link{"type" => "button", "data-toggle" => "collapse", "data-target" => "#collapseCat#{index}", "aria-hidden" => "true", "aria-controls" => "collapseOne"}
                        #{category.description}
                        
                                
                  //subcat collapsables
                  .collapse{:id => "collapseCat#{index}", "aria-labelledby" => "headingOne", "data-parent" => "#accordionCategory"}
                    - category.subcategories.order('id ASC').each_with_index do |subcategory, index|
                      .accordion{:id => "accordionSubCat"}
                        .card
                          .card-header{:id => "headingOne"}
                            .arrange-vertically.right
                              Status
                            
                              - if (@company_scores["#{company.id}subcat#{subcategory.id}"] >= 0.8)
                                .label.great
                                  - if @company_scores["#{company.id}subcatVal#{subcategory.id}"]
                                    .circle.validated.tooltip
                                      .tooltiptext
                                        Validated Score: #{@company_scores["#{company.id}subcat#{subcategory.id}"]}
                                  - else
                                    .circle.unvalidated.tooltip
                                      .tooltiptext
                                        Invalidated Score: #{@company_scores["#{company.id}subcat#{subcategory.id}"]}
                              - elsif ((@company_scores["#{company.id}subcat#{subcategory.id}"] >= 0.5) && (@company_scores["#{company.id}subcat#{subcategory.id}"] < 0.8))
                                .label.ok
                                  - if @company_scores["#{company.id}subcatVal#{subcategory.id}"]
                                    .circle.validated.tooltip
                                      .tooltiptext
                                        Validated Score: #{@company_scores["#{company.id}subcat#{subcategory.id}"]}
                                  - else
                                    .circle.unvalidated.tooltip
                                      .tooltiptext
                                        Invalidated Score: #{@company_scores["#{company.id}subcat#{subcategory.id}"]}
                              - else
                                .label.bad
                                  - if @company_scores["#{company.id}subcatVal#{subcategory.id}"]
                                    .circle.validated.tooltip
                                      .tooltiptext
                                        Validated Score: #{@company_scores["#{company.id}subcat#{subcategory.id}"]}
                                  - else
                                    .circle.unvalidated.tooltip
                                      .tooltiptext
                                        Invalidated Score: #{@company_scores["#{company.id}subcat#{subcategory.id}"]}
                                      
                                      
                                      
                            %h5.mb-0
                              .arrange-horizontally
                                %button.btn.btn-link{"type" => "button", "data-toggle" => "collapse", "data-target" => "#collapseSubCat#{index}", "aria-hidden" => "true", "aria-controls" => "collapseOne"}
                                  #{subcategory.description}
                                  
                                          
                            //question collapsables
                            .collapse{:id => "collapseSubCat#{index}", "aria-labelledby" => "headingOne", "data-parent" => "#accordionSubCat"}
                              .card
                                .card-body
                                  %table#questions
                                    %thead
                                      %tr
                                        %th{:class => @keyword_header}= link_to 'Question Keyword', questions_path(:sort => 'keyword'), :id => 'keyword_header'
                                        %th Answer Score
                                        %th{:class => @weight_header}= link_to 'Weight', questions_path(:sort => 'weight'), :id => 'weight_header'
                                    %tdescription
                                      - subcategory.questions.order('id ASC').each do |question|
                                        %tr
                                          %td= question.keyword
                                          %td= @company_scores["#{company.id}question#{question.id}"]
                                          %td= question.weight