!!! 5
%html
  %head
    %title ONSAT
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %description
    %h1.title Outsourcing of Network Services Assessment Tool
    
    %ul{:class => 'NavBar'}
      %li{:class => @home_nav_class}= link_to "Home", {:action => 'index', :controller => '/home'}
      
      / Selectively render parts of the navbar depending on user's current role
      - if user_signed_in? and current_user.role == "Decision Maker"
        // %li{:class => @input_nav_class}= link_to "Input", {:action => 'index', :controller => '/questions'}
        %li{:class => @formulae_nav_class}= link_to "Formulae", {:action => 'index', :controller => '/formulae'}
        %li{:class => @output_nav_class}= link_to "Output", {:action => 'index', :controller => '/output'}
        %li{:class => @coa_nav_class}= link_to "Scenario", {:action => 'index', :controller => '/coas'}
      - elsif user_signed_in? and (current_user.role == "Validator" or current_user.role == "Company Representative")
        %li{:class => @input_nav_class}= link_to "Input", {:action => 'index', :controller => '/questions'}
        %li{:class => @formulae_nav_class}= link_to "Formulae", {:action => 'index', :controller => '/formulae'}
      - elsif user_signed_in?
          
      
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:error]
        #warning.message= flash[:error]

      = yield
